

.mainChat{
    background-color: #E1D5D5;
    height: 100%;
    /* width: 500px; */
  }
  
  .backButton{
    padding: 5px 3px 5px 15px;
  }

  .chatHeader{
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 10px;
  }

  .chatHeader img{
    display: grid;
  }

  .searchText{
    display: grid;
    /* justify-content: center; */
    padding-top: 12px;
    padding-left: 120px;
    padding: 12px 30px 10px 0px;
  }

  #inp{
    background-color: #ffff;
    border-radius: 7px;
    height: 40px;
    /* width: 700px; */
    padding-left: 10px;
  }
  .userDp{
    background-color: #fbfcfe;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
  }
  .userName{
    color: #000000;
    font-size: 20px;
  }
  .chats{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px;
    height: 100%;
    overflow: auto;
    padding: 0px 0px 0px 70px;
  }
  .chatBody{
    display: grid;
    gap:55px;
  }