.notification-MainContainer{
    background-color: #E1D5D5;
    height: 100%;
    /* padding: 60px ; */
  }
  .notification-Body{
    height: 100%;
    padding: 30px;                      /* display grid not working */
  }
  #notificationHeader{
    font-size: 30px;
    padding-bottom: 10px;
  
  }
  .notification-Unread{
    background-color: #E3BFBF;
    height: 90px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 9px;
    gap: 20px;
    align-items: center;
  }
  .notifications{
    display: grid;
    gap: 20px;
  }
  .notification-display-picture{
    background-color: #ffff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .notification-read{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 18px;
    align-items: center;
  }
 
  