
*{
    margin: 0;
    box-sizing: border-box;
  }
  html,body,#root{
    height: 100%;
  }

.Personal-chat-main{
    background-color: #E1D5D5;
    height: 100%;
  }
  .Personal-chat-dp{
    background-color: #ffff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .Personal-chat-header{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
  }
  .Personal-chat-body{
    padding: 35px;
    display: grid;
    gap: 30px;
    height: 100%;
  }
  .Personal-chat-date{
    text-align: center;
  }
  .Personal-chat-sender{
    background-color: #C97D7D;
    max-width: 227px;
    height: 90px;
    border-radius: 40px;
    margin:0;
    margin-right: auto;
    position: relative;
  }
  .personal-chat-receiver{
    background-color: #E3BDBD;
    height: 92px;
    border-radius: 40px;
    margin: 0;
    margin-left: auto;
    position: relative;
    max-width: 520px;
  }
  .senderTime{
    position: absolute;
    bottom: 20px;
    right: 20px;
    } 
  .receiverTime{
    position: absolute;
    right: 35px;
    bottom: 20px;
  }
  .Personal-chat-section{
    overflow:auto;
    display: grid;
    grid-template-rows: 4fr .5fr;
  }
  .Personal-chat-footer{
      background-color: #F5BAB8;
      /* width: 1450px; */
      height: 105px;
      border-radius: 40px;
      display: grid;
      align-items: center;
      padding: 20px;
      position: relative;
  }
  #sendButton{
    position: absolute;
    right: 20px;        /* ask about position: relative; */
    bottom: 20px;
  }
  