.post-mainContainer{
    background-color: #E1D5D5;
    min-height: 100%;
    padding: 15px;
  }
  .postMain-body{
    height: 100%;
  }
  .post-header{
    display: flex;
    gap: 50px;
  }
  .postBody-section{
    padding: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .postPhoto-selection{
    width:100%;
    max-width: 500px;
    background-color: #ffff;
    aspect-ratio: 2;
  }
  .postingCaption{
    height: 100px;
    border: none;
    background-color: #CAB0B0;
    border-radius: 30px;
    padding: 20px;
    max-width: 500px;
  }
  .postFrom-section{
    font-size: large;
    display: grid;
    gap: 25px;
  }

  .postHeader{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
  }
  .postedPhoto{
    background-color: rgb(227, 234, 21);
    height: 300px;
    padding: 0px 20px;
    margin: auto;
    width: 100%;
    border-radius: 20px;
  
  }
  .postReaction{
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding: 0 50px;
    gap: 20px;
  }
  .postReaction-details{
    padding-left: 50px;
    font-weight: bold;
  }
  .post-button img{
    width: 100%;
  }
  .post-footer{
    padding: 20px;
    display: grid;
    gap: 20px;
  }