*{
    margin: 0;
    box-sizing: border-box;
  }
  html,body,#root{
    height: 100%;
  }



.mainSection{
    display: grid;
    height: 100%;
    grid-template-rows: 4fr .5fr ;
  }
  .displayPicture{
    background-color: grey;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: auto; 
    /* margin-top: 65px; */
    
  }
  .profileSection{
    display: grid;
    /* place-items: center; */
    align-content: center;
    /* padding-bottom: 350px;  */
    gap: 40px;
    padding: 0px 20px;
  }
  .profileFooter{
    background-color: #E1D5D5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 0px 20px ;
    gap: 30px;
  }
  .footerImage{
    padding: 5px;
    cursor: pointer;
    
  }
  .friends{
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    gap:10px;
    margin-left: 400px;
    margin-right: 400px;
  }
  .line2{
    border-left: solid black;
    height: 28px;
  
  }
  .profileDetails{
    text-align: center;
    display: grid;
    gap:5px;
  }
  /* .follow-full{
    gap: 10px;
  } */
  #followOption{
    background-color: #E1D5D5;
    border-radius: 8px;
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
  
  }
  .settings{
    position: absolute;
    top: 8px;
    right: 16px;
    cursor: pointer;
  }
  .postSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-left: 30px;
    align-items: center;
    justify-items: center;
    
  }
  .image1{
    background-color: #4a4b4d;
    height: 120px;
    width: 150px;
    cursor: pointer;
  }
  .image2{
    background-color: #545558;
    height: 160px;
    width: 170px;
    cursor: pointer;
  }
  .image3{
    background-color: #707172;
    height: 130px;
    width: 160px;
    cursor: pointer;
  }
  .profileSection-header{
    position: relative;
  }
  @media screen and (max-width: 960px) {
    .postSection{
      grid-template-rows: auto;
      grid-template-columns: unset;
      align-items: unset;
    justify-items: unset;
    }
    .friends{
      margin-left: 0px;
    margin-right: 0px;
    }
    

    }