
*{
    margin: 0;
    box-sizing: border-box;
  }
  html,body,#root{
    height: 100%;
  }
  .save-mainContainer{
    background-color: #E1D5D5;
    min-height: 100%;
  }

  .save-mainBody{
    height: 100%;
    padding: 31px;
    display: grid;
    gap: 30px;
    
  }

  .save-heading{
    display: flex;
    gap: 20px;
  }

.save-heading img{
  height: 40px;
  width: 40px;
}

  .savePost-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
  }

  .saveUpper-part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .saveLower-part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .postImage{
    background-color: #b69898;
    height: 200px;
  }

  @media screen and (max-width: 900px){
    .savePost-body{
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 600px){
    .savePost-body{
      grid-template-columns: 1fr;
    }
  }

              
#saveFont{
 font-size: large;
}

