
*{
  margin: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1.5fr;
}

h1{
  font-size: 50px;
  color: #000000;
}


.mainChat{
  background-color: #E1D5D5;
  height: 100%;
  /* width: 500px; */
}
.backButton{
  position: absolute;
  top: 8px;
  left: 16px;
}
.chatHeader{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.searchText{
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-left: 120px;
}
#inp{
  background-color: #ffff;
  border-radius: 7px;
  height: 40px;
  width: 700px;
  padding-left: 10px;
}
.userDp{
  background-color: #fbfcfe;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 10px;
}
.userName{
  color: #000000;
  font-size: 20px;
}
.chats{
  display: grid;
  grid-template-columns: 220px 1fr 100px;
  gap: 10px;
  height: 100%;
  overflow: auto;
  padding-left: 70px;
}
.chatBody{
  display: grid;
  gap:55px;
}
.homeBody{
  background-color: #ffff;
  display: grid;
  grid-template-rows: auto 1fr;
}
.homeContainer{
  display: grid;
  height: 100%;
  grid-template-rows: 4fr .5fr ;
}
.homeFooter{
  background-color: #E1D5D5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.storyIcon{
  background-color: #787b81;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 20px;
}
.homeStory{
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: auto;
}
.homeFeed{
  display: grid;
  grid-template-columns: 5fr  3px 1.5fr;

}
.photoSection{
  background-color: #ffff; 
  height: 100%;
  margin:0 auto;
  width: 100%;
  max-width: 700px;
  overflow: auto;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding:10px
}
.onlineSection{
   background-color: #ffff; 
  height: 100%;
  display: grid;
  gap: 10px;
}
.sectionDivider{
  border-left: solid black;
  height: 530px;

}
#onlineHeading{
  text-align: center;
  font-size:30px;
}
.onlineUser{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 10px;
}
.userDp{
  background-color: #0cc7fb;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


.notification-MainContainer{
  background-color: #E1D5D5;
  height: 100%;
  /* padding: 60px ; */
}
.notification-Body{
  height: 100%;
  padding: 60px;                      /* display grid not working */
}
#notificationHeader{
  font-size: 30px;
  padding-bottom: 10px;

}
.notification-Unread{
  background-color: #E3BFBF;
  height: 90px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 15px;
  gap: 120px;
}
.notifications{
  display: grid;
  gap: 20px;
}
.notification-display-picture{
  background-color: #ffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.notification-read{
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 150px;
}
.settings-mainContainer{
  background-color: #E1D5D5;
  height: 100%;
}
.settings-MainBody{
  height: 100%;
  padding: 60px;
}
#settingHeader{
  font-size: 30px;
  padding-bottom: 20px;
}
.settings-property{
  background-color: #E3BFBF;
  /* width: 1188px; */
  height: 85px;
  border-radius: 30px;
  padding: 30px;

}
.settings-section{
  display:grid;
  gap: 20px;

}
.comments-mainContainer{
  background-color: #E1D5D5;
  height: 100%;
}
#comments-heading{
  font-size: 30px;
  padding-bottom: 20px;
  color: #e26767;
}
.comments-header{
  display: flex;
}
.commentsBody{
  padding: 40px;
}
.comment{
  background-color: #C97D7D;
  height: 107px;
  width: 1216px;
  border-radius: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 35px;

}
.comment-dp{
  background-color: #ffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.comment-section{
  display: grid;
  gap : 20px;
}
.newComment{
  width: 1216px;
  height:165px;
  border-radius: 30px;
  background-color: #e2aaa8;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 20px;
  gap: 20px;
}
.newComment-dp{
  background-color: #ffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.Like-mainContainer{
  background-color: #E1D5D5;
  height: 100%;
  padding: 60px;
}
.likeBody{
  height: 100%;
}
#likeHeading{
  font-size: 30px;
  padding-bottom: 20px;
  color: #e26767;
}
.likeHeader{
  display: flex;
  gap: 15px;
}
.likedUsersDp{
  background-color: #ffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.users-who-liked{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}
.users-liked{
  display: grid;
  gap: 20px;
}
.storyView-mainContainer{
  background-color: #E1D5D5;
  height: 100%;
}
.story-mainBody{
  height: 100%;
  padding: 60px;
}
.storyView-Header{
  display: flex;
  gap: 1000px;
  padding-bottom: 15px;
}
.viewHeader-First{
  display: flex;
  align-items: center;
  gap: 10px;
}
.storyView-dp{
  background-color: #ffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.storyView-user{
  display: flex;
  gap: 10px;
  align-items: center;
}
.storyView-body{
  display: grid;
  gap: 20px;
}

